@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-geist-mono);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

::-webkit-scrollbar {
  @apply w-1 h-1;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-400/60 rounded-sm;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-600/60 dark:bg-neutral-300/60;
}
